# Ignore everything
*

# But descend into directories
!*/

# Go
!/cmd/**/*.go
!/internal/**/*.go
!/pkg/**/*.go
!go.mod
!go.sum

# General files
!/.gitignore
!/.gitattributes
!LICENSE
!Notes.md
!README.md

!/data/*.md
